.wrapper {
  width: 120px;
  height: 189px;
  background-color: #111029;
  animation: pulseGlow 3s infinite;
  border-radius: 24px 0 0 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #19183a;
}
@keyframes pulseGlow {
  0% {
    box-shadow: 0 0 0 0 rgba(46, 202, 196, 0.6);
  }
  50% {
    box-shadow: 0 0 13px 8px rgba(46, 202, 196, 0.25);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(46, 202, 196, 0);
  }
}
