.hero {
  max-width: 1280px;
  margin: 0 auto;
  padding-inline: 20px;
}
.hero__title {
  text-align: center;
  color: #45a29e;
  font-size: 32px;
  font-family: "Wattauchimma";
}
.hero__destcription {
  max-width: 920px;
  margin: 20px auto 0;
  font-weight: 500;
  line-height: 25px;
  font-size: 16px;
  color: #f9f7f8;
  text-align: center;
}
.hero__btns {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.hero__btn {
  color: #ffff;
  font-size: 20px;
  font-family: var(--font-montserrat), sans-serif;
  padding: 16px 76px;
  border-radius: 27px;
  background-color: #12112e;
  border: 1px solid #45a29e;
  animation: pulseGlow 3s infinite;
}
.hero__styts {
  max-width: 453px;
  margin: 75px auto 0;
  display: flex;
  justify-content: space-between;
}
.hero__styts__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero__styts__number {
  font-size: 36px;
  color: #45a29e;
  font-family: "Wattauchimma";
}
.hero__styts__text {
  color: #7f7a7a;
  font-size: 16px;
  font-weight: 500;
}
@keyframes pulseGlow {
  0% {
    box-shadow: 0 0 0 0 rgba(46, 202, 196, 0.6);
  }
  50% {
    box-shadow: 0 0 13px 8px rgba(46, 202, 196, 0.25);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(46, 202, 196, 0);
  }
}

@media (max-width: 710px) {
  .hero__title {
    font-size: 26px;
  }
  .hero__destcription {
    font-size: 14px;
  }
}
