.container {
  max-width: 1280px;
  margin: 128px auto 0;
}
.img {
  border-radius: 50%;
}

.hero {
  max-width: 700px;
  margin: 0 auto;
}
.hero__img {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.hero__title {
  font-size: 48px;
  font-weight: 800;
  color: #ffff;
  text-align: center;
}
.hero__title__gradient {
  background: -webkit-linear-gradient(
    90deg,
    rgba(227, 53, 178, 1) 0%,
    rgba(89, 34, 171, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero__span {
  color: #7f7a7a;
  font-size: 12px;
  text-align: center;
}
.hero__paragh {
  color: #ffff;
  font-size: 18px;
  text-align: center;
  margin: 25px 0;
}
.hero__btnBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.hero__btnContact {
  background: linear-gradient(
    90deg,
    rgba(227, 53, 178, 1) 0%,
    rgba(89, 34, 171, 1) 100%
  );
  color: #fff;
  border-radius: 8px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  padding: 11;
}
.hero__btnProject {
  background: none;
  color: #fff;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  border: 1px solid #fff;
  padding: 10;
}
.hero__btnContact:active {
  transform: scale(0.96);
  background-color: #eb06d8;
}
.hero__btnProject:active {
  transform: scale(0.96);
}
